@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
 font-family: "Poppins", sans-serif;
 background-color: #f7f7f7;
}

/*...MENU...*/
header h1 {
    color: white;
}
header {
    background-color: #BDD6FB;
}

.container {
    width: 100%;
    
}

.button-blue {
    padding: 10px 20px;
    background-color: #74ACFF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 10pt;
    color:#f7f7f7;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.button-white {
    margin-left: 5px;
    padding: 10px 20px;
    background-color: #f7f7f7;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 10pt;
    color:#74ACFF;
    text-align: center;
    border-color: #74acff;
    border-radius: 10px;
}

.button-white2 {
    padding: 10px 20px;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 10pt;
    color:#f7f7f7;
    text-align: center;
    border: none;
}